{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h1>Welcome, {{ user.username }}</h1>
    <h4 style="float: left">TOTAL FUNDS: <b>{{ usd(user.cash) }}</b></h3>
    <table class="table table-striped" style="width:100%">
      <tr>
        <th><h4>Symbol</h4></th>
        <th><h4>Shares</h4></th>
        <th><h4>Payment</h4></th>
        <th><h4>Date</h4></th>
      </tr>
      {% for transaction in transaction %}
      <tr>
        <td><b>{{ transaction.symbol }}</b></td>
        <td>{{ transaction.amount }}</td>
        <td>{{ usd(transaction.payment) }}</td>
        <td>{{ transaction.date }}</td>
      </tr>
      {% endfor %}
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><b></b></td>
      </tr>
    </table>

{% endblock %}